<%- include ("./partials/header") %>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  <style>
    h1 {
      font-family: 'Josefin Sans', sans-serif;
    }

    #wrapper .container {
      max-width: 40%;
      display: block;
    }
    
    input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
  </style>

  <!-- As a link -->
  <h1 class="my-5" style="color: #C39BD3;">
    <center> MY TO DO LIST </center>
  </h1>

  <div id="wrapper">
    <div class="container">

      <form action="/todo" method="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" placeholder="Add To Do List">
        <input type="submit" value="Add" class="btn btn-primary mx-2" style="background-color: #C39BD3;">
      </form>

      <ul class="list-group my-5">
        <% todo.forEach((todos, i)=> { %>
          <li class="list-group-item">
            <div class="row">
              <div class="col">
                <div class="checkbox">
                  <input type="checkbox" name="packersOff" id="packers" value="1"/>
                  <label for="packers" class="strikethrough"><%= todos.todo %></label>
              </div>
              </div>
              <div class="col-md-auto">
                <button class="btn btn-outline-info btn-sm"
                  onclick="edit(<%= i %>)">Edit</button>
              </div>
              <div class="col col-lg-2">
                <form action="/todo/<%= todos.id %>" method="GET">
                  <input type="submit" value="Delete" class="btn btn-outline-danger btn-sm">
                </form>
              </div>
              <div id="<%= i %>" style="display: none;">
                <form action="/todo/<%= todos.id %>" method="POST" class="d-flex mt-2">
                  <input type="text" name="todo" class="form-control" placeholder="Write here">
                  <input type="submit" value="Save" class="btn btn-primary mx-2" style="background-color: #C39BD3;">
                </form>
              </div>
            </div>
          </li>

          <% }) %>

      </ul>
    </div>
  </div>

  <script>
    function edit(id) {
      let x = document.getElementById(id);
      if (x.style.display == 'none') {
        x.style.display = 'block';
      } else {
        x.style.display = 'none';
      }
    }
  </script>

  <%- include ("./partials/footer") %>